In [1]:
import pandas as pd

In [2]:
# Read data from file
df = pd.read_csv('adult.data.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
 # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [6]:
# What is the average age of men?
average_age_men = df['age'].mean()
average_age_men

38.58164675532078

In [7]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = len(df[df['education']=='Bachelors'])/len(df) * 100

percentage_bachelors

16.44605509658794

In [8]:
 # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df['education-num']>=13]
lower_education = df[df['education-num']<13]

In [9]:
 # percentage with salary >50K
higher_education_rich = len(higher_education[higher_education['salary']=='>50K']) / len(higher_education) * 100
lower_education_rich = len(lower_education[lower_education['salary']=='>50K']) / len(lower_education) * 100

In [10]:
higher_education_rich, lower_education_rich

(48.45667534399405, 16.052910916959256)

In [11]:
 # What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

In [12]:
slackers=df[df['hours-per-week']==min_work_hours]

In [13]:
 # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = len(df[df['hours-per-week']==min_work_hours])

In [14]:
rich_percentage = ( len(slackers[ slackers['salary']=='>50K' ]) / len(slackers)) * 100
rich_percentage

10.0

In [15]:
# What country has the highest percentage of people that earn >50K?
wealth_percentages = (df[df["salary"] == ">50K"]["native-country"].value_counts() / df["native-country"].value_counts())*100

highest_earning_country = wealth_percentages.idxmax()
highest_earning_country_percentage = round(wealth_percentages.max(), 1)

In [69]:
# Identify the most popular occupation for those who earn >50K in India.

rich_indians = df.loc[(df['salary']=='>50K') & (df['native-country'] == 'India') , ['occupation','native-country', 'salary']]

top_IN_occupation = rich_indians['occupation'].value_counts().idxmax()